<div class="page" data-ng-controller="jqvmapCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>World Map</strong></div>
        <div class="panel-body">
            <div class="ui-map" ui-jqvmap options="worldMap"></div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>USA Map</strong></div>
                <div class="panel-body">
                    <div class="ui-map" ui-jqvmap options="USAMap"></div>
                </div>
            </section>            
        </div>
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Europe Map</strong></div>
                <div class="panel-body">
                    <div class="ui-map" ui-jqvmap options="europeMap"></div>
                </div>
            </section>            
        </div>
    </div>

</div>