<div class="page page-charts" data-ng-controller="morrisChartCtrl">

    <section data-ng-controller="chartjsCtrl">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Line Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsLine" data-type="Line" value="myChart"></chart>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bar Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsBar" data-type="Bar" value="myChart"></chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Radar Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsRadar" data-type="Radar" value="myChart"></chart>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Polar Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsPolarArea" data-type="PolarArea" value="myChart"></chart>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pie Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsPie" data-type="Pie" value="myChart"></chart>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Doughnut Chart js</h3>
                    </div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsDoughnut" data-type="Doughnut" value="myChart"></chart>
                    </div>
                </div>
            </div>


        </div>

    </section>
</div>