<header class="page-main-header">

    <div class="row">
        <div class="col-sm-6">
            <h4>
                Dashboard 3
            </h4>
            <p>
                Dashboard with different widgets and format
            </p>
        </div>
        <div class="col-sm-6">

            <div class="col-sm-6 text-right">
                <p class="text-muted medium">
                    1920 Visitors / week
                </p>
                <div data-ng-controller="sparklineCtrl">
                    <span data-sparkline
                          data-spark-data="simpleChart2long.sparkData"
                          data-spark-options="simpleChart2long.sparkOptions"
                            ></span>
                </div>
            </div>

            <div class="col-sm-6 text-right">
                <p class="text-muted medium">
                    2065 buyers / week
                </p>
                <div data-ng-controller="sparklineCtrl">
                    <span data-sparkline
                          data-spark-data="simpleChartlong.sparkData"
                          data-spark-options="simpleChartlong.sparkOptions"
                            ></span>
                </div>
            </div>

        </div>
    </div>

</header>

<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <section>

        <div class="row">

            <div class="col-sm-12" data-ng-controller="flotChartCtrl">

                <div class="panel panel-default">

                    <div class="panel-body">

                        <div class="choices">

                        </div>

                        <div data-flot-chart
                             data-data="line1.data"
                             data-options="line1.options"
                             style="width: 100%; height: 300px;"
                                ></div>


                    </div>
                </div>

            </div>


        </div>
    </section>


    <section data-ng-controller="gaugeCtrl">

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="fa fa-paper-plane panel-ico"></i>Site speed</strong>
                    </div>
                    <div class="panel-body text-center">
                        <canvas data-gauge-chart
                                data-gauge-data="gauge1.gaugeData"
                                data-gauge-options="gauge1.gaugeOptions"
                                style="width: 220px; height: 110px; "
                                ></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="fa fa-bell panel-ico"></i>Feed updates</strong>
                    </div>
                    <div class="panel-body text-center">
                        <canvas data-gauge-chart
                                data-gauge-data="gauge2.gaugeData"
                                data-gauge-options="gauge2.gaugeOptions"
                                style="width: 220px; height: 110px; "
                                ></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="fa fa-compress panel-ico"></i>Compression span</strong>
                    </div>
                    <div class="panel-body text-center">
                        <canvas data-gauge-chart
                                data-gauge-data="gauge3.gaugeData"
                                data-gauge-options="gauge3.gaugeOptions"
                                style="width: 220px; height: 110px; "
                                ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-ng-controller="morrisChartCtrl">
        <div class="row">

            <div class="col-md-8">
                <section class="panel panel-default">

                    <div class="panel-body">
                        <div morris-chart
                             data-data="comboData"
                             data-type="area"
                             data-xkey="year"
                             data-ykeys='["a", "b", "c"]'
                             data-labels='["Value A", "Value B", "Value C"]'
                             data-line-colors='["#383d43","#db5031","#c1bfc0"]'
                             data-line-width="3"
                                ></div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <section class="panel panel-default">

                    <div class="panel-body">
                        <div morris-chart
                             data-data="donutData"
                             data-type="donut"
                             data-xkey="year"
                             data-colors='["#383d43","#db5031","#c1bfc0","#503f3c"]'
                                ></div>
                    </div>
                </section>
            </div>

        </div>
    </section>


    <section>
        <div class="row" ng-controller="chartingCtrl">

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">{{easypie1.name}}</h3>
                    </div>-->
                    <div class="panel-body text-center">

                        <div class="pull-left">
                            <div easypiechart options="easypiesmall1.options" percent="easypiesmall1.percent" class="easypiechartsmall">
                                    <span class="pie-percent">
                                        <div class="countTo_small" data-ng-controller="countTo">
                                            <span count-to="{{countersmall1.countTo}}" value="{{countersmall1.countFrom}}" duration="2"></span>%
                                        </div>

                                    </span>
                            </div>
                        </div>
                        <div class="right-info">

                            <p class="text-muted">Registrations / Unique visitors</p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">{{easypie2.name}}</h3>
                    </div>-->
                    <div class="panel-body text-center">


                        <div class="pull-left">
                            <div easypiechart options="easypiesmall2.options" percent="easypiesmall2.percent" class="easypiechartsmall">
                                    <span class="pie-percent">
                                         <div class="countTo_small" data-ng-controller="countTo">
                                             <span count-to="{{countersmall2.countTo}}" value="{{countersmall2.countFrom}}" duration="2"></span>%
                                         </div>
                                    </span>
                            </div>
                        </div>
                        <div class="right-info">
                            <p class="text-muted">Sales / Registered user</p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">{{easypie3.name}}</h3>
                    </div>-->
                    <div class="panel-body text-center">


                        <div class="pull-left">
                            <div easypiechart options="easypiesmall3.options" percent="easypiesmall3.percent" class="easypiechartsmall">
                                    <span class="pie-percent">
                                         <div class="countTo_small" data-ng-controller="countTo">
                                             <span count-to="{{countersmall3.countTo}}" value="{{countersmall3.countFrom}}" duration="2"></span>%
                                         </div>
                                    </span>
                            </div>
                        </div>
                        <div class="right-info">
                            <p class="text-muted">Dropouts on checkout</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="row">
            <div class="col-md-6">
                <!-- List group -->
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Todo items</strong></div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">7</span>
                            The industry's standard
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-info">3</span>
                            software like Aldus PageMaker
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning">4</span>
                            Various versions have evolved
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-danger">3</span>
                            There are many variations of passages
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-success">10</span>
                            Richard McClintock, a Latin professor
                        </li>
                    </ul>
                </div>
                <!-- end List group -->
            </div>

            <div class="col-sm-6">

                <section class="panel panel-box">
                    <div class="panel-top bg-weather bg-cloudy">
                        <div class="text-left">
                            Cloudy
                        </div>
                        <div class="divider divider-xl"></div>
                        <div class="divider divider-lg"></div>
                    </div>
                    <div class="panel-icon bg-weather">
                        <i class="wi wi-day-cloudy"></i>
                    </div>
                    <div class="panel-bottom bg-reverse">
                        <ul class="list-justified text-center">
                            <li>
                                <p class="size-h2 color-info"><i class="wi wi-cloudy"></i></p>
                                <p class="text-muted">Tuesday</p>
                            </li>
                            <li>
                                <p class="size-h2 color-warning"><i class="wi wi-day-thunderstorm"></i></p>
                                <p class="text-muted">Wednesday</p>
                            </li>
                            <li>
                                <p class="size-h2 color-danger"><i class="wi wi-day-snow"></i></p>
                                <p class="text-muted">Thursday</p>
                            </li>
                            <li>
                                <p class="size-h2 color-success"><i class="wi wi-day-sunny"></i></p>
                                <p class="text-muted">Friday</p>
                            </li>
                        </ul>
                        <br/>
                        <p class="text-center small">
                            @ 2014 - Information provided by the weather information science
                        </p>
                    </div>
                </section>

            </div>

        </div>
    </section>


    <section>

        <div class="row">


            <div class="col-sm-6" ng-controller="morrisChartCtrl">

                <section class="panel panel-default">
                    <div class="panel-body">
                        <div morris-chart
                             data-data="comboData"
                             data-type="area"
                             data-xkey="year"
                             data-ykeys='["a", "b", "c"]'
                             data-labels='["Value A", "Value B", "Value C"]'
                             data-line-colors='["#383d43","#db5031","#c1bfc0"]'
                             data-line-width="3"
                                ></div>
                    </div>
                </section>

            </div>

            <div class="col-sm-6" ng-controller="morrisChartCtrl">
                <section class="panel panel-default">
                    <!--<div class="panel-heading"><i class="fa fa-list panel-ico"></i>Line Chart</div>-->
                    <div class="panel-body">
                        <div morris-chart
                             data-data="comboData"
                             data-type="line"
                             data-xkey="year"
                             data-ykeys='["a", "b", "c"]'
                             data-labels='["Value A", "Value B", "Value C"]'
                             data-line-colors='["#383d43","#db5031","#c1bfc0"]'
                             data-line-width="3"
                                ></div>
                    </div>
                </section>

            </div>


        </div>

    </section>



    <div class="panel panel-default">
        <!--<div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Table</strong></div>-->
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Task</th>
                        <th>Completion</th>
                        <th>Assigned to</th>
                        <th>Completion %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>
                        <td><span class="label label-info">Pending</span></td>
                        <td>John Doe</td>
                        <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><span class="color-success"><i class="fa fa-level-up"></i></span> A16Z</td>
                        <td><span class="label label-primary">Due</span></td>
                        <td>Carol Simmerman</td>
                        <td><progressbar class="progressbar-xs no-margin" value="34" type="success"></progressbar></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><span class="color-warning"><i class="fa fa-level-down"></i></span> DARK</td>
                        <td><span class="label label-success">Due</span></td>
                        <td>Joselie Hanna</td>
                        <td><progressbar class="progressbar-xs no-margin" value="68" type="info"></progressbar></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><span class="color-info"><i class="fa fa-level-up"></i></span> Q300</td>
                        <td><span class="label label-danger">Blocked</span></td>
                        <td>Johane Bayer</td>
                        <td><progressbar class="progressbar-xs no-margin" value="52" type="warning"></progressbar></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span class="color-danger"><i class="fa fa-level-down"></i></span> RVNG</td>
                        <td><span class="label label-warning">Suspended</span></td>
                        <td>Donnavon Franklin</td>
                        <td><progressbar class="progressbar-xs no-margin" value="77" type="danger"></progressbar></td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><span class="color-info"><i class="fa fa-level-down"></i></span> FDSA</td>
                        <td><span class="label label-info">Suspended</span></td>
                        <td>Jane Modrid</td>
                        <td><progressbar class="progressbar-xs no-margin" value="55" type="success"></progressbar></td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
  