<div class="page">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Buttons</strong></div>
        <div class="panel-body">
        <h4>Buttons colors and styles</h4>
        <table class="table">
            <thead>
            <tr>
                <td>
                    Code Bordered
                </td>
                <td>
                    Bordered style
                </td>
                <td>
                    Code Fill
                </td>
                <td>
                    Filled style
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <code>.btn-bordered-default</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-default">Default</button>
                </td>
                <td>
                    <code>.btn-default</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-default">Default</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-primary</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-primary">Primary</button>
                </td>
                <td>
                    <code>.btn-primary</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-primary">Primary</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-success</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-success">Success</button>
                </td>
                <td>
                    <code>.btn-success</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-success">Success</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-info</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-info">Info</button>
                </td>
                <td>
                    <code>.btn-info</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-info">Info</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-warning</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-warning">Warning</button>
                </td>
                <td>
                    <code>.btn-warning</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-warning">Warning</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-danger</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-danger">Danger</button>
                </td>
                <td>
                    <code>.btn-danger</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-danger">Danger</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-dark</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-dark">Dark</button>
                </td>
                <td>
                    <code>.btn-dark</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-dark">Dark</button>
                </td>
            </tr>
            </tbody>
        </table>


        <h4>Disabled Buttons</h4>
        <table class="table">
            <thead>
            <tr>
                <td>
                    Code Bordered
                </td>
                <td>
                    Bordered style
                </td>
                <td>
                    Code Fill
                </td>
                <td>
                    Filled style
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <code>.btn-bordered-default</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-default" disabled>Default</button>
                </td>
                <td>
                    <code>.btn-default</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-default" disabled>Default</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-primary</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-primary" disabled>Primary</button>
                </td>
                <td>
                    <code>.btn-primary</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-primary" disabled>Primary</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-success</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-success" disabled>Success</button>
                </td>
                <td>
                    <code>.btn-success</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-success" disabled>Success</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-info</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-info" disabled>Info</button>
                </td>
                <td>
                    <code>.btn-info</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-info" disabled>Info</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-warning</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-warning" disabled>Warning</button>
                </td>
                <td>
                    <code>.btn-warning</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-warning" disabled>Warning</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-danger</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-danger" disabled>Danger</button>
                </td>
                <td>
                    <code>.btn-danger</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-danger" disabled>Danger</button>
                </td>
            </tr>
            <tr>
                <td>
                    <code>.btn-bordered-dark</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-bordered-dark" disabled>Dark</button>
                </td>
                <td>
                    <code>.btn-dark</code>
                </td>
                <td>
                    <button type="button" class="btn btn-width-medium btn-sp-v btn-dark" disabled>Dark</button>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button Width</strong></div>

        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Extra small
                    </td>
                    <td>
                        Small
                    </td>
                    <td>
                        Middle
                    </td>
                    <td>
                        Large
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-width-xs">xs</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-width-small">small</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-width-medium">middle</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-width-long">large</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default btn-width-xs">xs</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-width-small">small</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-width-medium">middle</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-width-long">large</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success btn-width-xs">xs</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-width-small">small</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-width-medium">middle</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-width-long">large</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button Sizes</strong></div>

        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Large
                    </td>
                    <td>
                        Default
                    </td>
                    <td>
                        Small
                    </td>
                    <td>
                        Extra small
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Default button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default btn-lg">Large button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default">Default button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">Small button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success btn-lg">Large button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info">Default button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm">Small button</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs">Extra small button</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button with direction</strong></div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-md-4">
                    <p><a href="javascript:;" class="btn btn-width-medium btn-primary btn-direction btn-up">Up</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-success btn-direction btn-up">Up</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-info btn-direction btn-up">Up</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-warning btn-direction btn-up">Up</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-danger btn-direction btn-up">Up</a></p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="javascript:;" class="btn btn-primary btn-direction btn-left">Left</a>
                        <a href="javascript:;" class="btn btn-primary btn-direction">Middle</a>
                        <a href="javascript:;" class="btn btn-primary btn-direction btn-right">RIght</a>
                    </p>

                    <p>
                        <a href="javascript:;" class="btn btn-default btn-direction btn-left">Left</a>
                        <a href="javascript:;" class="btn btn-default btn-direction">Middle</a>
                        <a href="javascript:;" class="btn btn-default btn-direction btn-right">RIght</a>
                    </p>

                    <p>
                        <a href="javascript:;" class="btn btn-success btn-direction btn-left">Left</a>
                        <a href="javascript:;" class="btn btn-info btn-direction">Middle</a>
                        <a href="javascript:;" class="btn btn-danger btn-direction btn-right">RIght</a>
                    </p>

                    <p>
                        <a href="javascript:;" class="btn btn-warning btn-direction btn-left">Left</a>
                        <a href="javascript:;" class="btn btn-success btn-direction">Middle</a>
                        <a href="javascript:;" class="btn btn-info btn-direction btn-right">RIght</a>
                    </p>

                    <p>
                        <a href="javascript:;" class="btn btn-info btn-direction btn-left">Left</a>
                        <a href="javascript:;" class="btn btn-danger btn-direction">Middle</a>
                        <a href="javascript:;" class="btn btn-success btn-direction btn-right">RIght</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p><a href="javascript:;" class="btn btn-width-medium btn-primary btn-direction btn-down">Down</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-success btn-direction btn-down">Down</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-info btn-direction btn-down">Down</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-warning btn-direction btn-down">Down</a></p>

                    <p><a href="javascript:;" class="btn btn-width-medium btn-danger btn-direction btn-down">Down</a></p>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Big Buttons</strong></div>
        <div class="panel-body text-center">
            <p>
                <a href="javascript:;" class="btn btn-primary btn-metro">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
                <a href="javascript:;" class="btn btn-info btn-metro">
                    <i class="fa fa-envelope"></i>
                    <span>Mails</span>
                </a>
                <a href="javascript:;" class="btn btn-success btn-metro">
                    <i class="fa fa-headphones"></i>
                    <span>Sound</span>
                </a>
                <a href="javascript:;" class="btn btn-warning btn-metro">
                    <i class="fa fa-code"></i>
                    <span>Dev</span>
                </a>
                <a href="javascript:;" class="btn btn-danger btn-metro">
                    <i class="fa fa-database"></i>
                    <span>Databases</span>
                </a>
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Block buttons</strong></div>
        <div class="panel-body">
            <button type="button" class="btn btn-default btn-block">Default</button>
            <button type="button" class="btn btn-primary btn-block">Primary</button>
            <button type="button" class="btn btn-success btn-block">Success</button>
            <button type="button" class="btn btn-info btn-block">Info</button>
            <button type="button" class="btn btn-warning btn-block">Warning</button>
            <button type="button" class="btn btn-danger btn-block">Danger</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button groups</strong></div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Style
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Button Group
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-bordered-primary">Left</button>
                            <button type="button" class="btn btn-bordered-primary">Middle</button>
                            <button type="button" class="btn btn-bordered-primary">Right</button>
                        </div>
                        <div class="space"></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Left</button>
                            <button type="button" class="btn btn-primary">Middle</button>
                            <button type="button" class="btn btn-primary">Right</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Button toolbar
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">3</button>
                                <button type="button" class="btn btn-default">4</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">5</button>
                                <button type="button" class="btn btn-default">6</button>
                                <button type="button" class="btn btn-default">7</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">8</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Sizing
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-lg">
                                <button type="button" class="btn btn-primary">Left</button>
                                <button type="button" class="btn btn-primary">Middle</button>
                                <button type="button" class="btn btn-primary">Right</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Nesting
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">2</button>

                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    Dropdown
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
                                    <li><a href="javascript:;">Dropdown link</a></li>
                                    <li><a href="javascript:;">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Vertical variation
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default">Top</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Bottom</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Justified link variation
                    </td>
                    <td>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" role="button">Left</a>
                            <a class="btn btn-default" role="button">Middle</a>
                            <a class="btn btn-default" role="button">Right</a>
                        </div>
                        <br>

                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-info" role="button">Left</a>
                            <a class="btn btn-success" role="button">Middle</a>
                            <a class="btn btn-warning" role="button">Right</a>
                        </div>
                        <br>

                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-success" role="button">Left</a>
                            <a class="btn btn-info" role="button">Middle</a>
                            <a class="btn btn-warning" role="button">Middle</a>
                            <a class="btn btn-danger" role="button">Right</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button dropdowns</strong></div>
        <div class="panel-body">

            <div class="btn-group" dropdown is-open="status.isopen1">
                <button type="button" class="btn btn-default dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen2">
                <button type="button" class="btn btn-primary dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen3">
                <button type="button" class="btn btn-success dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen4">
                <button type="button" class="btn btn-info dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen5">
                <button type="button" class="btn btn-warning dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen6">
                <button type="button" class="btn btn-danger dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group" dropdown is-open="status.isopen7">
                <button type="button" class="btn btn-dark dropdown-toggle"> Action <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;">Action</a></li>
                    <li><a href="javascript:;">Another action</a></li>
                    <li><a href="javascript:;">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Separated link</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Button with icons</strong></div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Styles
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Button with icons
                        </td>
                        <td>
                            <button class="btn btn-primary"><i class="fa fa-file-code-o"></i> Code</button>
                            <button class="btn btn-success"><i class="fa fa-gift"></i> Gift</button>
                            <button class="btn btn-info"><i class="fa fa-envelope"></i> Send email</button>
                            <button class="btn btn-default"><i class="fa fa-gears"></i> Settings</button>
                            <button class="btn btn-danger"><i class="fa fa-toggle-off"></i> Off</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Social buttons
                        </td>
                        <td>
                            <a href="javascript:;" class="btn btn-default btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
                            <a href="javascript:;" class="btn btn-default btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                            <a href="javascript:;" class="btn btn-default btn-gplus"><i class="fa fa-google-plus"></i> Sign in with Google+</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Icon buttons
                        </td>
                        <td>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest"><i
                                    class="fa fa-pinterest"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-viemo"><i class="fa fa-viemo"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
